<!--<html>
<head>
<title>Forgotpassword</title>
</head>
<body>


    <form method="POST">
        {% csrf_token %}
        <label>USERNAME:</label>
        <input type="text" name="username" placeholder="USERNAME" required>
        <br>
        <label>EMAIL:</label>
        <input type="email" name="email" placeholder="EMAIL" required>
        <br>
        <input type="submit" value="GENERATEOTP">
    </form>
    <script>
        {% for message in messages %}
        window.alert("{{message}}");
        {% endfor %}
    </script>
</body>


</html>-->
<html>
<head>
<title>Forgotpassword</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
body{
    background-color:#E4E9F7;
}
</style>
<body>

<br><br><br><br><br><br><br><br><br><br>
    <center><form method="POST">
        {% csrf_token %}
        <label>USERNAME:</label>
        <input type="text" name="username" placeholder="USERNAME" required>
        <br><br>
        <label>EMAIL:</label>
        <input type="email" name="email" placeholder="EMAIL" required>
        <br><br>
        
        <button type="submit" class="btn btn-primary">GENERATE OTP</button>
    </form></center>
    <script>
        {% for message in messages %}
        window.alert("{{message}}");
        {% endfor %}
    </script>
</body>


</html>