<html>
<head>
<title>Forgotpassword</title>
</head>
<body>


    <form method="POST">
        {% csrf_token %}
        <label>USERNAME:</label>
        <input type="text" name="username" placeholder="USERNAME" required>
        <br>
        <label>EMAIL:</label>
        <input type="email" name="email" placeholder="EMAIL" required>
        <br>
        <input type="submit" value="GENERATEOTP">
    </form>
    <script>
        {% for message in messages %}
        window.alert("{{message}}");
        {% endfor %}
    </script>
</body>


</html>